:root {
  --text-color: #04070a;
  --background-color: #d4e0ec;
  --navbar-bg: #3498db;
  --button-bg: #3498db;
  --button-hover: #2980b9;
  --border-color: #999;
  --border-color2: #2980b9;
  --cell-bg: #eee;
  --active-cell-bg: #333;
  --block-border-color: #000;
  --message-color: green;
  --error-color: red;
  --correct-color: green;
  --sound-icon-color: #ffffffff; 
  --sound-icon-bg: #3498db; 
  --sound-icon-hover-bg: #2980b9;
}

.dark {
  --text-color: #ecf0f1;
  --background-color: #2c3e50;
  --navbar-bg: #1a252f;
  --button-bg: #16a085;
  --button-hover: #1abc9c;
  --border-color: #666;
  --border-color2: #1abc9c;
  --cell-bg3: #2c3e50;
  --cell-bg2: #242c4c;
  --cell-bg: #beb6b6;
  --active-cell-bg: #16a085;
  --block-border-color: #85bad5;
  --message-color: #1abc9c;
  --error-color: #e74c3c;
  --correct-color: #1abc9c;
  --sound-icon-color: #fff; 
  --sound-icon-bg: #16a085; 
  --sound-icon-hover-bg: #1abc9c;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

.home-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.welcome-title {
  font-size: 2.5rem;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.info-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  max-width: 1200px;
  border: 2px solid var(--block-border-color);
  padding: 20px;
  border-radius: 8px;
  background-color: var(--cell-bg);
}

.logo-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 10px;
  border-right: 2px solid var(--block-border-color);
}
.project-section,
.developers-section {
  flex: 1;
  padding: 10px;
  border-right: 2px solid var(--block-border-color);
}
.developers-section {
  border-right: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-container p {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color);
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.logo-design {
  width: 150px;
  height: auto;
}

@media (prefers-color-scheme: dark) {
  .info-container {
    background-color: var(--cell-bg3);
  }
}


@media (max-width: 768px) {
  .info-container {
    flex-direction: column;
    text-align: center;
    width: 90%;
  }

  .logo-section,
  .project-section {
    border-right: none;
    border-bottom: 2px solid var(--block-border-color);
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .developers-section {
    border-bottom: none;
  }
}
